Android Open Source Project/
Atom/
Banana.ch/
Bitwarden/
Ganache/
Code/**/*
!Code/User/
!Code/User/keybindings.json
!Code/User/settings.json
Dharkael/
GraphQL Playground/
Hyper/
IPFS Desktop/
Joplin/
Keybase/
QtProject.conf
Slack/
Sqrl/
Typora/
Typora__cly_event.json
Typora__cly_id.json
Typora__cly_queue.json
Unknown Organization/
VirtualBox/
argos/
atomic/
autostart/
budgie-desktop/
chromium/
composer/
configstore/
dconf/
enchant/
eog/
evince/
evolution/
fisher/
fontconfig/
gatsby/
gcloud/
gedit/
gnome-initial-setup-done
google-chrome/
gthumb/
gtk-2.0/
gtk-3.0/
helm/
htop/
ibus/
jesseduffield/
joplin-desktop/
kazam/
keybase/
kmagrc
libreoffice/
mc/
menus/
mimeapps.list
monitors.xml
nautilus/
nemo/
omf/
pcloud/
plank/
pulse/
scatter/
scrapinghub/
session/
sublime-text-3/
teamviewer/
totem/
truffle/
update-notifier/
user-dirs.dirs
user-dirs.locale
vlc/
yad.conf
zoomus.conf

